.intro {
    padding: 120px 0;

    @include mq($tablet) {
        padding: 60px 0;
    }

    @include mq($phone) {
		padding: 30px 0;
	}
}

.intro__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.intro__content {
    max-width: 570px;
    width: 100%;
    text-align: justify;

    @include mq($tablet) {
       padding: 0 70px;
       max-width: 100%;
       margin-bottom: 70px;
    }
    
    @include mq($phone) {
		padding: 0;
	}
}

.intro__image {
    max-width: 450px;
    border: 6px solid $black;

    img {
        transform: translate(-20px, -20px);
        transition: $dur $ease;

        &:hover {
            transform: translate(0);
        }
    }

    @include mq($tablet) {
		margin: 0 auto;
    }
    
    @include mq($phone) {
		img {
            transform: translate(0);
        }
	}
}