.main-footer {
    background-color: $black;
    padding: 50px 0;

    @include mq($tablet-l) {
		padding: 30px 0;
    }
    
    @include mq($phone) {
        padding: 20px 0;
	}
}

.main-footer__copyright {
    text-align: center;

    p {
        font-size: 15px;
        color: $white;
    }

    a {
        color: $cinnabar;
    }

    @include mq($tablet-l) {
		p {
            font-size: 12px;
        }
	}
}